<table *ngIf="game" border="1">
  <tr *ngFor="let numY of counter(game.sizeInY); index as indexY">
    <td>
      <div class="content">
        {{game.sizeInY - indexY}}
      </div>
    </td>
    <td *ngFor="let num of counter(game.sizeInX)" [ngStyle]="{'width': ((100/(game.sizeInX + 1)) + '%')}">
      <div class="content game-space">
      </div>
    </td>
  </tr>
  <tr>
      <td></td>
      <td *ngFor="let letter of getArrayLettersTo(game.sizeInX); index as index">
        <div class="content">
          {{letter}}
        </div>
      </td>
    </tr>
</table>