:host ::ng-deep table td div.game-space {
    transition: 0.3s all;
    background: blue;
    opacity: 0.3;
}

:host ::ng-deep table td div.game-space.my-turn{
    cursor: pointer;
}

:host ::ng-deep table td div.game-space.my-turn:hover{
    transition: 0.3s all;
    opacity: 1;
    background: lightblue;
    border: solid 1px blue;
}

:host ::ng-deep table td div.hit-cell {
    background: red;
}

:host ::ng-deep table td div.not-hit-cell {
    background: white;
}