td .content {
    transition: 0.3s all;
    background: blue;
    opacity: 0.3;
    cursor: pointer;
}

td .content:hover{
    transition: 0.3s all;
    opacity: 1;
    background: lightblue;
    border: solid 1px blue;
}