<table border="1">
  <tr *ngFor="let indexY of counter(game?.sizeInY ?? 0);">
    <td [style.width]="((100/((game?.sizeInX ?? 0) + 1)) + '%')">
      <div class="content">
        {{indexY + 1}}
      </div>
    </td>
    <td *ngFor="let num of counter(game?.sizeInX ?? 0); index as indexX"
      [style.width]="((100/((game?.sizeInX ?? 0) + 1)) + '%')">
      <ng-template [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{ indexX: indexX, indexY: indexY }">
      </ng-template>
    </td>
  </tr>
  <tr>
    <td></td>
    <td *ngFor="let letter of getArrayLettersTo(game?.sizeInX ?? 0); index as index">
      <div class="content">
        {{letter}}
      </div>
    </td>
  </tr>
</table>
